/*
webfonts
--------------------------------------------------------
*/
@font-face {
	font-family: "nunito-sans";
	font-weight: 400;
	font-style: normal;
	src: local('Nunito Sans'),
			 url('/fonts/nunitosans-regular.woff2') format('woff2'),
			 url('/fonts/nunitosans-regular.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: 400;
	font-style: italic;
	src: local('Nunito Sans'),
			 url('/fonts/nunitosans-italic.woff2') format('woff2'),
			 url('/fonts/nunitosans-italic.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: 800;
	font-style: normal;
	src: local('Nunito Sans Extrabold'),
			 url('/fonts/nunitosans-extrabold.woff2') format('woff2'),
			 url('/fonts/nunitosans-extrabold.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: 900;
	font-style: normal;
	src: local('Nunito Sans Black'),
			 url('/fonts/nunitosans-black.woff2') format('woff2'),
			 url('/fonts/nunitosans-black.woff') format('woff');
}

@font-face {
	font-family: "source-code-pro";
	font-weight: 400;
	font-style: normal;
	src: local('Source Code Pro'),
			 url('/fonts/sourcecodepro-regular.woff2') format('woff2'),
			 url('/fonts/sourcecodepro-regular.woff') format('woff');
}

/*
base styles
--------------------------------------------------------
*/
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: "nunito-sans", sans-serif;
  letter-spacing: 0.015em;
	color: #2c2c2c;
	margin: 0;
	box-sizing: border-box;
	/* force grayscale antialiasing globally */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* enable kerning and ligatures globally */
	text-rendering: optimizeLegibility;
}

h1, h2, h3, p {
	text-align: center;
}

h1 {
	font-weight: 900;
	letter-spacing: 0.53px;
}

h2 {
	color: #606ee6;
	font-weight: 900;
	letter-spacing: 0.68px;
}

h3 {
	color: #606ee6;
	font-weight: initial;
	font-family: "source-code-pro", monospace;
	font-weight: initial;
}

p {
	font-size: 18px;
	text-align: left;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
