<script>
  import Button from '../../components/Button.svelte';
  import NavLink from "../../components/NavLink.svelte"
</script>

<style>
  section {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 90vh;
  }
  h1, h2, h3 {
    text-align: center;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 4rem;
    color: #606ee6;
    margin: 0em;
  }
  h3 {
    font-size: 36px;
    color: #7e88dd;
  }
  p {
    font-family: "source-code-pro", monospace;
    font-size: 19px;
    text-align: center;
    color: #606ee6;
  }
	div :global(a):hover {
	 text-decoration: none;
   }
  .pink {
    color: #c11add;
  }
  .splash {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 950px;
  }
  .Aligner {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
</style>

<section>
  <div class='splash'>
    <h1>Scuttlebutt</h1>
    <h2>p2p social network</h2>
    <h3>secure peer-to-peer platform</h3>

    <div class='Aligner'>
      <div>
        <img src="/images/hermiepatchwork.svg" alt="double hermie!!">
        <p>patchwork</p>
      </div>
      <div>
        <NavLink to="/download"><Button text={'Get Started'}/></NavLink>
      </div>
      <div>
        <img src="/images/hermiepatchbay.svg" alt="hermie!">
        <p class='pink'>patchbay</p>
      </div>
    </div>
  </div>
</section>
