<style>
  section {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3em 0;
  }
  div {
    max-width: 1200px;
    padding: 0 2em;
  }
  h1 {
    text-align: center;
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }
  span {
    font-weight: bold;
  }
</style>

<section>
  <div>
  <h1>Working On</h1>
  <h2>Diversity & Inclusion</h2>
  <p> <span>Free Libre Open Sourced Software (FLOSS)</span> are under the same systemic structures of powers and access that influence all discliplines and structures be it STEM or Agriculture. </p>
  <p>We continue to explore how decentralized software and community efforts can be engaged in Diversity and Inclusiveness (D&I) and in prioritising the voices, concerns, inclusion, and self-determination of First Nations, Aboriginal, Black, Indigenous, People of Colour (BIPOC), women, non-binary and trans folk. </p>

  <p>There are many of us sharing of arts, poetry, research and conversations in vulnerability and bravery, for our collective learning in detangling and understanding the many forces that affect technology. We are actively trying to transform narratives that are determine who gets to build tech and who gets impacted.</p>

  <p>This includes transparency in our work and commitment to support and fund folks of diversity. From organising scholarship and travels funds to support folks to attent physical events like Scuttle Camp and DWeb Camp, to exploring funding and community engagements with <span>Scuttle-ships</span> (Scuttlebutt Scholarhips - more info to come on this later.)</p>

  <p>As a decentralized community there's continued learnings and active projects to extend our ideas of norms within technology, from extractive practices to healing and reconnection.</p>

  </div>
</section>
