<script>
	import Splash from './home/Splash.svelte';
	import Values from './home/Values.svelte';
	import Ecosystem from './home/Ecosystem.svelte';
	import DecentralizedMiniExplainer from './home/DecentralizedMiniExplainer.svelte';
	import ProofWeLegit from './home/ProofWeLegit.svelte';
	import Contributors from './home/Contributors.svelte';
	import Footer from '../components/Footer.svelte'
</script>

<div>
	<Splash />
	<Values />
	<DecentralizedMiniExplainer />
	<ProofWeLegit />
	<Contributors />
	<Ecosystem />
	<Footer />
</div>
